*{
    margin: 0;
    font-family:"Poppins";
}

body {
    margin: auto;
    padding: 0px;
    background-color: #6EAA78;
}

nav{
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    background-color: #C6C86C;
    padding: 15px 15px;
}